/*navbar logo*/
#nav-logo{
	font-size: 1.5em;
	color: white;
}

.font-under-input{
	width: 80%;
	margin: 10px auto;
	text-align: center;
}

/*name of tuning knobs*/
.font-console-name{
	position: relative;
    bottom: 25px;
    font-size: 0.8em;
    left: 1px;
}

/*icons on setting, save, export button */
.icon-on-mainPage{
	font-size: 1.2em;
	padding-right: 10px;
	color: #E3E1E1;
}

/*instrument name*/
.instrumentName{
	font-size: 1.5em;
	padding-left: 20px;
	position: absolute;
	top:20px;
}


/*.edit-icon*/
.edit-icon{
	cursor:pointer;
}

/* loading overlay information*/

.loading-text{
	text-align: center;
	font-size: 15px;
	position: absolute;
	width:200px;
	height:200px;
	top:0; bottom:0; left:0; right:0; margin:auto;
}