/* @author: Yu-Ning, Chang
 * stylesheet of master control
 */

body{
	/*default font colour*/
	color: #525252;
}

a{
	text-decoration:none!important;
}

button{
	border-radius: 5px;
	outline: none !important;
}

i{
	color: #525252;
}

.disable{
	display:none;
}
.hidden{
    visibility:hidden;
}

.clickNotAllowed{
	pointer-events:none;
	opacity: 0.6;
}