/* @author: Sean Stopnik PRO & Yu-Ning, Chang
 * stylesheet of slider
 * Code reference: Sean Stopnik PRO. CSS Range Slider. Retrieved from https://codepen.io/seanstopnik/pen/CeLqA
 */
 
.tempo-slider{
  display: inline-block;
  width: 60%;
}

.rangeBar {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
}

  /* Range Handle*/
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
      background: #b0d8d8;
}
  
input[type="range"]::-webkit-slider-thumb:active {
    background: #b0d8d8;
  }

/*Range Label*/
.bpm-value,
  .bpm-font{
  display: inline-block;
  font-size: 15px;
  padding-left: 10px;
  font-weight: bold;
  color: #2c3e50;
}
