<!--
	@author: Yu-Ning, Chang
	This file produces the login page.
	variable: accountCheck (boolean)
-->
<% include partials/head %>
	<title>Log In</title>
	<style>
		body{
			background-color:#eee;
		}
		h2{
			text-align: center;
			padding-bottom: 10px;
		}
		h6{
			text-align: center;
			padding-bottom: 5px;
			color:red;
		}
	</style>
</head>
	
<body>
	<div class="login-form">
		<h2>Music Production(Demo)</h2>
		<h6 class="hidden">This account does not exist</h6>
		<form action="/demo/log_in" method="POST">
			<select name="account" id="dropdown_key" class="form-control form-input">
			            	<option value="abc@gmail.com">User1</option>
			            	<option value="def@gmail.com">User2</option>
			            	<option value="ghi@gmail.com">User3</option>
			            	<option value="jkl@gmail.com">User4</option>
			            	<option value="mop@gmail.com">User5</option>
			            	<option value="qrs@gmail.com">User6</option>
			            	<option value="tuv@gmail.com">User7</option>
			 </select>
			<button type="submit"class="button-submit">Log In</button>
		</form>
	</div>
	<script>
		    if(<%=accountCheck%>==false){
		        console.log('account does not exist');
		        $('h6').toggleClass('hidden');
		    }
	</script>
</body>
</html>