<html>
<head>
	<meta charset="UTF-8">
	<title>My Projects</title>
	
	<!-- bootstrap3.3.7 minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
	<!-- Jquery 3.3.1 min.js -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>	
		
	<!--bootstrap3.3.7  JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<!-- fontawesome 5.1 -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	
	<!-- local stylesheet -->
	<link rel="stylesheet" href="../client/css/master.css">
	<link rel="stylesheet" href="../client/css/font.css">
	<link rel="stylesheet" href="../client/css/form.css">
	<link rel="stylesheet" href="../client/css/layout.css">
	<link rel="stylesheet" href="../client/css/navbar.css">
	<link rel="stylesheet" href="../client/css/button.css">
	

	<style>
	/*put inline css here*/

	i{
    	padding-left: 5px;
    	font-size: 0.7em;
    }
    p{
    	font-size:1.2em;
    	line-height: 1.5em;
    	color: #aaa;
    }
    h3{
    	padding-bottom: 10px;
    }
    h4{
    	line-height: 1.5em;
    	color: #7eacac;
    	font-family: serif;
    }
	</style>
	
</head>	
	
<body>
	<!-- nav bar -->
	<nav class="navbar navbar-default" style="background:#7eacac;">
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" id="nav-logo" href="login.html">Music Production</a>
		    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white">yuningc0325 <span class="caret" style="color: white"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Account Setting</a></li>
		            <li><a href="#">My Projects</a></li>
		          </ul>
		        </li>
		        <li><a href="#" style="color: white">Log Out</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	
	<div class="container">
		<div class="col-lg-6">
			<h2>My project List</h2>
		</div>
		<div class="col-lg-6">
			<button class="button-create-project">Create a new project</button>
		</div><!--end col-lg-6 -->
		
		<div class="col-lg-12">
			<p>You can create your project first then starting to produce your own music track. You can also mix all the tracks into one piece of music.</p>
		</div><!--end col-lg-12 -->

		<!-- project division -->
		<div class="col-lg-3">
			<div class="layout-project">
				<h3>Project1 <i class="fas fa-pen"></i></h3>
				<h4>Track: 5</h4>
				<h4>Tonality: C</h4>
				<h4>Tempo: 100</h4>
				<button class="button-delete">delete</button>
				<button class="button-export" ">export</button>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="layout-project">
				<h3>Project1 <i class="fas fa-pen"></i></h3>
				<h4>Track: 5</h4>
				<h4>Tonality: C</h4>
				<h4>Tempo: 100</h4>
				<button class="button-delete">delete</button>
				<button class="button-export" ">export</button>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="layout-project">
				<h3>Project1 <i class="fas fa-pen"></i></h3>
				<h4>Track: 5</h4>
				<h4>Tonality: C</h4>
				<h4>Tempo: 100</h4>
				<button class="button-delete">delete</button>
				<button class="button-export" ">export</button>
			</div>
		</div>

		<div class="col-lg-3">
			<div class="layout-project">
				<h3>Project1 <i class="fas fa-pen"></i></h3>
				<h4>Track: 5</h4>
				<h4>Tonality: C</h4>
				<h4>Tempo: 100</h4>
				<button class="button-delete">delete</button>
				<button class="button-export" ">export</button>
			</div>
		</div>
	</div>
</body>
</html>
