<html>
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
	
	<!-- bootstrap3.3.7 minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
	<!-- Jquery 3.3.1 min.js -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>	
		
	<!--bootstrap3.3.7  JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<!-- local stylesheet -->
	<link rel="stylesheet" href="../client/css/master.css">
	<link rel="stylesheet" href="../client/css/font.css">
	<link rel="stylesheet" href="../client/css/form.css">
	<link rel="stylesheet" href="../client/css/layout.css">
	<link rel="stylesheet" href="../client/css/navbar.css">
	<link rel="stylesheet" href="../client/css/button.css">
	

	<style>
	/*put inline css here*/
	body{
		background-color:#eee;
	}
	h2{
		text-align: center;
		padding-bottom: 10px;
	}
	</style>
	
</head>
	
<body>
	<div class="container signup-form">
		<h2>Music Production</h2>
		<form action="" method="POST">
			<input type="email" class="form-input" name="account" id="account"
			placeholder="Account (email)" required>
			<input type="email" class="form-input" name="account2" id="account2" placeholder="input account again">
			<input type="password" class="form-input" name="password" id="password" placeholder="Password">
			<input type="text" class="form-input" name="userName" id="userName" placeholder="userName">
			<button class="button-submit">Join</button>
		</form>
		<div class="font-under-input">
			<span>Back to</span>
			<a href="login.html">Log In</a>
		</div>
	</div>
</body>
</html>