<% include partials/head %>

	<title>Forget Password</title>
	<style>
	/*put inline css here*/
	body{
		background-color:#eee;
	}
	h2{
		text-align: center;
		padding-bottom: 10px;
	}
	</style>
	
</head>
	
<body>
	<div class="forgetPassword-form">
		<h2>Music Production</h2>
		<form action="" method="POST">
			<input type="email" class="form-input" name="email" id="email" 
			placeholder="your email address" required>
			<button class="button-submit">Reset Password</button>
		</form>
		<div class="font-under-input">
			<span>Back to<span>
			<a href="login">Log In</a>
		</div>	
		
	</div>

</body>
</html>